
<!-- Formulario de pesquisa para o Cadastro de Departamentos -->
Digite o nome do Departamento:
<div>
	<form name ="F1" method="get">
		<input type="text" name="pesq" id="search-text" size="15" value=""  />
		<input type="submit" id="search-submit" value="Pesquisar"  />
		<b>Total de Registros:</b> 
		<%= @departamentos.size %>
	</form>
</div>

<HR SIZE = 5 color="blue">
