<!--  CANCELAMENTO DE PEDIDO -->

<h2 class="title">CANCELAMENTO DE PEDIDO</h2>
<br>
<H2>Pedido Cancelado com Sucesso </h2>
<br>
<%= link_to image_tag("voltar.png") , pedidos_path + "?pd="+Admloja.first.mcab.to_s   %>