
<!-- Formulario de pesquisa para o Cadastro de Produtos -->
Digite o <b>nome</b> ou o  <b>Código</b> do Produto:
<div>
	 <form name ="F1" method="get" action="/produts"> 
		<input type="text" name="pesq" id="search-text" size="15" value=""  />
		<input type="submit" id="search-submit" value="Pesquisar" />
		<b>Total de Registros:</b> 
		<%= @produts.size %>
	</form>
</div>

<HR SIZE = 5 color="blue">
