<!--  INCLUINDO NOVA SESSAO -->

<h2 class="title">Cadastrando Nova Seção</h2>
<HR SIZE = 5 color="blue">

<%= render 'form' %>

<br>
<HR SIZE = 5 color="blue">
<%= link_to image_tag("voltar.png") , "/section"  %>
