
<!-- Formulario para alterar a quantidade dos produtos -->
<h3> ALTERAR A QUANTIDADE</h3>
<div><center>
	 <form name ="F1" method="get" action="/altera"> 
		<b>ITEM:</B>
			<input type="text" name="item" id="search-text" size="20" value=""  />
		<b>QUANTIDADE:</B>
			<input type="text" name="quant" id="search-text" size="20" value=""  />
		<input type="submit" id="search-submit" value="Alterar Quantidade"  />
	</form>
	</center>
</div>
